<div class="wrapper">
  <div class="sidebar visually-hidden" id="lateral">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <div class="row">
      <app-navbar id="arriba" class="visually-hidden"></app-navbar>
    </div>
    <div class="row justify-content-center m-2">
      <div class="col-12 align-items-center p-2">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row relative-bottom">
      <app-footer id="abajo" class="visually-hidden"></app-footer>
    </div>
  </div>
</div>

<div class="fixed-plugin">
  <div class=" show-dropdown" ngbDropdown>
    <a data-toggle="dropdown" ngbDropdownToggle>
      <div class="fa-3x">
        <i class=" fa fa-cog fa-spin"> </i>
      </div>
    </a>
    <ul ngbDropdownMenu>
      <li class=" header-title">Fondo del sidebar</li>
      <li class=" adjustments-line">
        <a class=" switch-trigger background-color" href="javascript:void(0)">
          <div class=" badge-colors text-center">
            <span class=" badge filter badge-danger" [ngClass]="{'active':sidebarColor==='red'}"
              (click)="changeSidebarColor('red')">
            </span>
            <span class=" badge filter badge-primary" [ngClass]="{'active':sidebarColor==='primary'}"
              (click)="changeSidebarColor('primary')">
            </span>
            <span class=" badge filter badge-info" [ngClass]="{'active':sidebarColor==='blue'}"
              (click)="changeSidebarColor('blue')"> </span>
            <span class=" badge filter badge-success" [ngClass]="{'active':sidebarColor==='green'}"
              (click)="changeSidebarColor('green')">
            </span>
          </div>
          <div class=" clearfix"></div>
        </a>
      </li>
      <li class=" adjustments-line text-center color-change">
        <span class=" color-label"> Modo claro </span>
        <span class=" badge light-badge mr-2" (click)="changeDashboardColor('white-content')"> </span>
        <span class=" badge dark-badge ml-2" (click)="changeDashboardColor('black-content')"> </span>
        <span class=" color-label"> Modo oscuro </span>
      </li>
    </ul>
  </div>
</div>