<div class=" content animate__animated animate__bounceInLeft">
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-12 text-left">
              <h5 class=" card-category">Cadena de Almacenes La Generica</h5>
              <h2 class=" card-title">Bienvenidos a las Tiendas La Generica</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="position-relative">
  <div class="card mt-3 position-absolute top-50 start-0 translate-middle" style="width:300px">
    <div class="card-body">
      <h3 class="card-title">Sucursal Bogotá</h3>
        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    <img class="card-img-bottom" src="assets/img/Bogota.jpeg" alt="Bogota image" style="width:100%">
  </div>

</div>