<div class="container align-items-center p-5 m-5">
  <div class="row justify-content-center m-2">
    <div class="col-md-4 puntero">
      <div class="card mt-2" style="width: 18rem;">
        <img src="assets/img/Bogota.jpg" class="img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sucursal Bogotá</h5>
          <p class="card-text">Jane Doe</p>
        </div>
      </div>
    </div>
    <div class="col-auto puntero">
      <div class="card mt-2" style="width: 18rem;">
        <img src="assets/img/Cali.jpg" class="img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sucursal Cali</h5>
          <p class="card-text">Jane Doe</p>
        </div>
      </div>
    </div>
    <div class="col-auto puntero">
      <div class="card mt-2" style="width: 18rem;">
        <img src="assets/img/Medellin.jpg" class="img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sucursal Medellín</h5>
          <p class="card-text">Jane Doe</p>
        </div>
      </div>
    </div>
  </div>
</div>