<div class=" content">
    <div class="row justify-content-evenly mt-3">
        <div class="col-sm-8 col-md-6 col-lg-6 col-xl-8">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title"><i class="fas fa-table"></i> Ventas por Clientes</h4>
                </div>
                <div class=" card-body">
                    <div class="container">
                        <table class="compact nowrap stripe hover" datatable [dtOptions]="dtOptions"
                            [dtTrigger]="dtTrigger">
                            <tbody>
                                <tr *ngFor="let consolidados of contenido">
                                    <td>{{consolidados.ciudad}}</td>
                                    <td>{{consolidados.totalventas}}</td>
                                    <td>{{consolidados.valortotal}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="column align-items-center pt-5">
            <h3>Total Ventas Tienda $ <input> </h3>

        </div>

    </div>
</div>