
<div class="content justify-content-center mt-2">
    <div class="row align-items-center">
        <div class="col-12">
            <button type="button" class="btn btn-info btn-lg" [routerLink]="'/clientes/agregar'">Crear Cliente</button>
            <button type="button" class="btn btn-warning btn-lg" [routerLink]="'/clientes/consultar'">Consultar
                Cliente</button>
            <button type="button" class="btn btn-info btn-lg" [routerLink]="'/clientes/actualizar'">Actualizar
                Cliente</button>
            <button type="button" class="btn btn-danger btn-lg" [routerLink]="'/clientes/eliminar'">Eliminar
                Cliente</button>
        </div>
    </div>
</div>