<div class="wrapper">
    <div class="sidebar"><app-sidebar></app-sidebar></div>
    <div class="main-panel">
      <app-navbar></app-navbar>
      
      <div class=" content">
        <div class=" row">
          <div class=" col-md-12">
              <h3>CONSULTAR CLIENTE</h3>
              <h5>ESCRIBA LA CÉDULA DEL CLIENTE A BUSCAR</h5>
            <form>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Cedula" 
                    aria-describedby="basic-addon1"  >
                </div>
                <div class="form-group">
                    <button class="btn btn-success"  >
                        Consultar Cliente
                    </button>
                </div>
                <div class="row align-items-center remember">
                    <h5>DATOS DEL CLIENTE:</h5>
                    <label>Nombre </label>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre Completo" 
                    aria-describedby="basic-addon1"  >
                </div>
    
                <div class="row align-items-center remember">
                    <label>Dirección </label>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Dirección" 
                    aria-describedby="basic-addon1"  >
                </div>
    
                <div class="row align-items-center remember">
                    <label>Teléfono </label>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone-square-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Teléfono" 
                    aria-describedby="basic-addon1"  >
                </div>
    
                <div class="row align-items-center remember">
                    <label>Correo Electrónico </label>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Correo Electrónico"
                     aria-describedby="basic-addon1"  >
                </div>
    
                
            </form>
          </div>
        <div class="column">
            <div id="flex-child-element">
    
                <button type="button" class="btn btn-info btn-lg" [routerLink]="'/clientes'">Crear Cliente</button>
                <button type="button" class="btn btn-warning btn-lg" [routerLink]="'/clientes-consultar'">Consultar Cliente</button>
                <button type="button" class="btn btn-info btn-lg"[routerLink]="'/clientes-actualizar'">Actualizar Cliente</button>
                <button type="button" class="btn btn-danger btn-lg" [routerLink]="'/clientes-borrar'">Eliminar Cliente</button>
                
    
            </div>
    </div>
      <app-footer></app-footer>
    </div>
  </div>




