<app-navbar></app-navbar>

<div class=" content">

  <label for="formFileLg " class="form-label">Seleccionar
    archivo CSV con el inventario de productos</label>
  <div class="text-center">
    <input class="form-control" type="file" (change)="onChange($event)" placeholder="Inserte el archivo aqui">

    <button (click)="onUpload()" class="btn btn-success btn-sm fas fa-upload mt-2">
      Subir Archivo
    </button>
  </div>

  <table class="compact nowrap table table-dark table-hover table-responsive-sm
    table-responsive-lg table-responsive-xxl" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <tbody>
      <tr *ngFor="let dato of contenido" class="">
        <td>{{dato.codigoproducto}}</td>
        <td>{{dato.nombreproducto}}</td>
        <td>{{dato.nitproveedor}}</td>
        <td>{{dato.preciocompra}}</td>
        <td>{{dato.ivacompra}}</td>
        <td>{{dato.precioventa}}</td>
      </tr>
    </tbody>
  </table>
</div>